{% capture result %}
  {% capture src %}{% include asset_map/path.html
        map=include.map
        name=include.name
  %}{% endcapture %}
  {% if src != "" %}
    {% capture integrity %}{%
      include asset_map/integrity.html
        map=include.map
        name=include.name
    %}{% endcapture %}
    {% assign bools = "async,defer,nomodule" | split: "," %}
    {% assign echoed = "type,crossorigin,referrerpolicy" | split: "," %}
    {{ include.asyc }}
    <script src="{{ src }}"{%
      if integrity != ""
    %} integrity="{{ integrity }}"{%
      endif
    %}{%
      for attr in echoed %}{%
        if include[attr] %} {{ attr }}="{{ include[attr] }}"{% endif %}{%
      endfor
      %}{%
      for attr in bools
      %}{%
        if include[attr] %} {{ attr }}{% endif %}{%
      endfor
    %}></script>
  {% else %}
    {%
      capture message
    %}WARNING! Missing script pack named {{ include.name }}{%
      endcapture
    %}
    {% include asset_map/error.html
        name=include.name
        message=message
        error=include.error
    %}
  {% endif %}
{% endcapture %}{{ result | strip }}
