{% capture result %}
  {% capture href %}{%
    include asset_map/path.html
      asset_map=include.map
      asset_name=include.name
  %}{% endcapture %}
  {% capture integrity %}{%
    include asset_map/integrity.html
      asset_map=include.map
      asset_name=include.name
  %}{% endcapture %}
  {% if href != "" %}
    {% assign echoed = "crossorigin,importance,media" | split: "," %}
    <link rel="stylesheet" href="{{ href }}"{%
      if integrity != ""
    %} integrity="{{ integrity }}" {%
      endif
    %}{%
      for echo in echoed
      %}{% if include[echo] %} {{ echo }}="{{ include[echo] }}"{% endif %}{%
      endfor
    %}>
  {% else %}
    {% include asset_map/error.html
        asset_name=include.name
        type="stylesheet"
        error=include.error
    %}
  {% endif %}
