{%
  capture src
%}{%
  include asset_pack_path.html
    asset_map=include.asset_map
    asset_name=include.asset_name
%}{%
  endcapture
%}{%
  capture integrity
%}{%
  include asset_integrity.html
    asset_map=include.asset_map
    asset_name=include.asset_name
%}{%
  endcapture
%}{%
  if src != ""
%}{% assign bools = "async,defer,nomodule" | split: "," %}
<script src="{{ src }}"{%
  if integrity != ""
%} integrity="{{ integrity }}"{%
  endif
%}{%
  for attr in bools
  %}{%
    if include[attr] %} {{ attr }}{% endif %}{%
  endfor
%}{%
  if include.type
%} type="{{ include.type }}"{%
  endif
%}></script>
{% else %}
<!-- WARNING! missing javascript pack named {{ include.asset_name }} -->
{% endif %}
