{%
  capture href
%}{%
  include asset_pack_path.html
    asset_map=include.asset_map
    asset_name=include.asset_name
%}{%
  endcapture
%}{%
  capture integrity
%}{%
  include asset_integrity.html
    asset_map=include.asset_map
    asset_name=include.asset_name
%}{%
  endcapture
%}{%
  if href != ""
%}{%
  assign echoed = "crossorigin,importance,media" | split: ","
%}<link rel="stylesheet" href="{{ href }}" {%
  if integrity != ""
%}integrity="{{ integrity }}" {%
  endif
%}{%
  for echo in echoed
  %}{% if include[echo] %}{{ echo }}="{{ include[echo] }}" {% endif %}{%
  endfor
%}>
{% else %}
<!-- WARNING! missing stylesheet pack named {{ include.asset_name }} -->
{% endif %}
