{% capture input %}
{% raw %}{%{% endraw %}
  include {{ include.test | strip }}{% for kvp in include %}{% unless kvp[0] == 'test' %}
    {{ kvp[0] }}="{{ kvp[1] }}"{% endunless %}{% endfor %}
{% raw %}%}{% endraw %}
{% endcapture %}

{% capture output %}
  {%
    include {{ include.test }}
      asset_map=include.map
      asset_name=include.name
      sep=include.sep
      asset_key=include.key
      entrypoint_key=include.entrypoint_key
      error=include.error
      type=include.type
      message=include.message
  %}
{% endcapture %}
<pre class="test-input" ><code>{{ input | strip }}</code></pre>
<pre class="test-output"><code>{{ output | strip | escape }}</code></pre>