{% comment %}
  test the plugin against a variety of asset maps
{% endcomment %}
<details class="test" id="{{ include.id }}" open>
  <details class="test test--case" open>
    {%
      include test_case/instance.html
        test=include.test
        asset_map="manifest"
        asset_name=include.asset_name
        sep=include.sep
        asset_key=include.asset_key
        entrypoint_key=include.entrypoint_key
        error=include.error
        type=include.type
        message=include.message
    %}
  </details>
  <details class="test test--case">
    {%
      include test_case/instance.html
        test=include.test
        asset_map="webpack-asset-manifest"
        asset_name=include.asset_name
        sep=include.sep
        asset_key=include.asset_key
        entrypoint_key=include.entrypoint_key
        error=include.error
        type=include.type
        message=include.message
    %}
  </details>
  <details class="test test--case" open>
    {%
      include test_case/instance.html
        test=include.test
        asset_map="webpack-manifest-plugin"
        asset_name=include.asset_name
        sep=include.sep
        asset_key=include.asset_key
        entrypoint_key=include.entrypoint_key
        error=include.error
        type=include.type
        message=include.message
    %}
  </details>
</details>